html, body{
	height: 100%;
  width: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}
html{
  background-color: #000;
}
body{
  background-image: url(../images/katy-gems.jpg);
  background-position: center;
  background-size: 105%;
  background-repeat: repeat;
}
h1, h2, h3{
	font-family: Century, Georgia, "Times New Roman", serif;
}
.love .glyphicon{
	color: #FF00BC;
	background-color: #FF4444;
	font-size: 5em;
	text-align: center;
	margin: 0 auto;
	padding: 0.5em;
	display: block;
}
.love:hover{
	text-decoration: none;
	cursor: default;
}
#katy-box{
  background-image: url(../images/katy-sharks.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border: 0.3em solid #0080ff;
  width: 600px;
  height: 373px;
  margin: 1em;
  display: block;
  margin: 0 auto;
  background-size: 100%;
  transition: background-size .5s ease-out;
}
#katy-box:hover{
  background-size: 120%;
  transition: background-size .5s ease-out;
}
#katy-box:after{
  display: block;
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  content: "\0021E8";
}