::selection {
	background-color: #f0f;
}
* {
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline-color: #f0f;
	font-size: 1em;
}
/* not supported
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;*/
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #111;
	background-color: #eee;
}
header, footer {
	text-align: center;
	color: #eee;
	background-color: rgba(17, 17, 17, 0.8); /* #111 at 0.8 opacity, using rgba to avoid transparency issues with child elements. Consider changing back to #111 for production site */
	padding: 0;
	position: fixed;
	z-index: 2000;
	width: 100%;
}
header {
	box-shadow: 0px 4px 5px #333;
}
/* add media query or js for fixing/unfixing header */
footer {
	bottom: 0;
	display: block;
	height: 2em;
	box-shadow: 0px -4px 5px #333;
}
#main-content {
	height: 100%;
}
#main-content>.full-height:last-of-type {
	margin-bottom: 3em;
}
h1 {
	font-size: 2em;
    margin: 0 0 .2em 0;
}
h2 {
	font-size: 1.5em;
    margin: 0 0 0.1em 0;
}
h1, h2, label {
	text-align: center;
}
address {
	display: inline-block;
}
label {
	margin-top: 1em;
	font-weight: bold;
	display: block;
}
footer a {
  color: #eee;
}
a {
	color: #333;
}
a:hover {
  color: #f0f;
}
iframe {
	display: block;
	margin: 0 auto;
}
iframe[src$=".pdf"] {
	width: 17em;
	height: 22em;
}
iframe[src*="docs.google"] {
	width: 100%;
	/* resize iframe height with js? */
	height: 512px;
}
textarea {
	resize: vertical;
}
select, input[type=text], input[type=email], textarea, .button {
	margin-bottom: 0.5em;
	border: none;
	font-size: 1.2em;
	color: #eee;
	background-color: #111;
	padding: 0 0.2em 0 0.2em;
	box-shadow: 2px 2px 5px #333;
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
	border-radius: 3px;
	width: 100%;
    text-decoration: none;
}
select:hover, .circle:hover, input[type=text]:hover, input[type=email]:hover, textarea:hover, .button:hover {
	color: #111;
	background-color: #eee;
	cursor: pointer;
}
input[type=text]:focus, input[type=email]:focus, textarea:focus {
	color: #111;
	background-color: #eee;
	cursor: text;
}
.full-height {
	min-height: 100%;
	padding-top: 5em;
	box-sizing: border-box;
	border-bottom: 1px solid #111;
	/*box-shadow: -5px 0px 12px #000, 5px 0px 12px #000;*/
}
.col-mid {
	margin: 0 auto;
	display: block;
	width: 50%;
}
.circle {
	height: 4em;
	width: 4em;
	background-color: #111;
	box-shadow: 2px 2px 5px #333;
	border-radius: 2em;
	text-align: center;
	display: inline-block;
	margin: 0.5% 3%;
	position: relative;
	outline: none;
}
.circle-content {
	font-size: 1em;
	line-height: 1em;
	margin: 0 auto;
	width: 80%;
}
div>.circle-content {
	padding-top: 1.5em;
}
.circle:hover>.circle-content {
	color: #111;
	cursor: pointer;
}
.circle-row .circle-content {
	display: inline-block;
}
.circle-row, .circle-row>ul {
	text-align: center;
	padding: 0;
	list-style: none;
}
.circle-row>ul li {
	display: inline;
}
.circle-row>ul li>a, .circle-row>a {
	text-decoration: none;
	outline: none;
}
.pop-over:hover>div:after { /*, .circle.pop-over:hover>.circle-content:after{  nth-child(2)  */
	z-index: 1000;
	position: absolute;
	margin: 0;
	padding: 0.1em 0.5em;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;/*not working - font size varies*/
	color: #111;
	background-color: #eee;
	box-shadow: 2px 2px 5px #333;
	content: attr(data-pop);
}
#profile-picture {
	background-size: 15em;
	width: 15em;
	height: 15em;
	background-image: url(../images/suit_pic.png);
	background-repeat: no-repeat;
	border-radius: 1em;
	background-position: top;
	display: block;
	margin: 0 auto;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
/* Modals */
.modal {
  z-index: 10;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
}
.modal-back {
  z-index: 20;
  display: table;
  position: absolute;
  width: inherit;
  height: inherit;
  background: rgba(255, 255, 255, 0.75);
  margin: 0 auto;
}
.modal-front {
  z-index: 30;
  display: table-cell;
  vertical-align: middle;
}
.modal-content {
  z-index: 40;
  text-align: center;
  background-color: #eee;
}
.modal-col {
  z-index: 50;
  width: calc(100%*2/3);
  margin-left: calc(100%/6);
}

.lightBox {
  background-image: url(../images/Jet-Plane.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border: 0.3em solid #0080ff;
  width: 15em;
  height: 15em;
  margin: 1em;
  display: inline-block;
  background-size: 25em;
  transition: background-size .5s ease-out;
}
.lightBox:hover {
  background-size: 30em;
  transition: background-size .5s ease-out;
}
.lightBox:after {
  display: block;
  font-size: 2em;
  text-align: center;
  /*vertical-align: middle;*/
  content: "\0021E8";
}

/* Helper Classes */
.success, .failure {
	text-align: center;
}
.success {
	background-color: #80ff80;
	border: 1px solid #0f0;
}
.success:before {
	content: 'Success! ';
}
.failure {
	background-color: #ff8080;
	border: 1px solid #f00;
}
.failure:before {
	content: 'Oops! ';
}
.highlight {
	background-color: #f0f;
	outline-color: #f0f;
}
.off-white {
	color: #eee;
}
.off-black {
	color: #111;
}
.hide-on-start {
	display: none;
}
/* floats with micro clearfix */
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}

/* media queries */
@media screen and (max-width: 512px) {
	.col-mid{
		margin: 0 auto;
		display: block;
		width: 80%;
	}
	iframe[src*="docs.google"] {
		display: none;
	}
	footer{
		display: none;
	}
}
@media screen and (max-width: 372px) {
	.circle {
		height: 3em;
		width: 3em;
	}
	div>.circle-content {
		padding-top: 1em;
	}
}

#print-message {
  display: none;
}
@media print {
  #print-message {
    display: block;
    page-break-after: avoid;
  }
	html {
		background:transparent;
		page-break-after: avoid;
	}
	* {
		color:#000;
		margin:0;
		padding:0;
	}
}

/* webkit scrollbar styling */
/*html{
	overflow: hidden;
}
body{
	overflow-y: scroll;
}
body::-webkit-scrollbar {
	position: absolute;
	z-index: 4000;
    width: 1em;
}
body::-webkit-scrollbar-track {
	z-index: 4000;
	background-color: #111;
    -webkit-box-shadow: -2px 0px 5px #333;
}
body::-webkit-scrollbar-thumb {
  z-index: 8000;
  background-color: #eee;
  outline: 1px solid #f0f;
  -webkit-box-shadow: -4px 0px 5px #333;
}
*/
